.image {
  width: 80px;
  height: 80px;
}

.image__wrapper {
  margin-top: 22px;
  margin-bottom: 37px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings:
    'pnum' on,
    'lnum' on;

  color: #10135a;
}

.description {
  margin-bottom: 56px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings:
    'pnum' on,
    'lnum' on;

  color: rgba(16, 19, 90, 0.5);
}

.text__color {
  color: #50AF95;
}

.close {
  position: absolute;
  top: 18px;
  right: 18px;
}

